
body {
	font-family: 'Waiting for the Sunrise', cursive;
	/*font-family: 'Indie Flower', cursive;*/	
	color: #4c4c4c;
}

.udacity-logo {
	width: 133px;
	height: 145px;
	padding-top: 50px;
}

.header-breaker {
	border-bottom: 5px solid #bcbbbb;
	margin-bottom: 2px;
/*Never Use Negative Values!!!*/
	margin-top: -10px;
}

.extra-light {
	font-weight: 200;
}

.name-font {
	font-size: 64px;
}

.text-muted {
	color: #808080;
}

.text-light {
	font-weight: 300;
}

.text-thin {
	font-weight: 100
}

.titile-super {
	font-size: 60px;
}

@media only screen and (max-width: 850px) {
	.name-font {
		font-size: 48px;
	}

	.udacity-logo {
		max-width: 110px;
		max-height: 127px;
	}
}

@media only screen and (max-width: 650px) {
	.name-font {
		font-size: 36px;
	}

	.udacity-logo {
		max-width: 90px;
		max-height: 115px;
	}

	p {
		font-size: 14px;
	}
}

@media only screen and (max-width: 450px) {
	.name-font {
		font-size: 28px;
	}

	.udacity-logo {
		max-width: 70px;
		max-height: 105px;

	}

}



/*Fix for NAME padding from top to balance with logo.*/
h1 {
	margin-top: 50px;
}

/*Fix for typed.js padding from bottom to balance with bottom assets.*/
.wrap {
	margin-bottom: 20px;
}

.footer {
	margin-bottom: 50px;
}

.footerText {
	text-align: center;
}








