.form-container {
  background: #000000;
  margin: 0 auto;
  margin-top: 16px;
  
  box-shadow: 0 2px 4px yellow, 0 4px 6px pink;
  border-radius: 10px 10px 10px #000000;
}

.gutter {
  height: 32px;
}


@media (max-width: 767px) {
  .form-container {
    margin: 0;

  }
}

.form {
  /*padding-left: 30px;*/
  padding-left: 2.5em;
}

.formHeader {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  color: black;
}

.btn-primary {
 background-color: #3b82b5;
}

.form-group {
  color: #3b82b5;
}

